
    body {
        font-family: "Russo One", sans-serif;
        color: #cccccc;
        margin: 0;
        background: url("noise.png") repeat;
    }

    .infoport {
        position: fixed;
        left: 120px;
        height: 10%;
        width: 89%;
        display: flex;
        -webkit-flex-flow: row wrap;
        color: #cccccc;
        text-align: center;
    }
    #points, #fxc, #gifc, #remoteusers {
        margin-right: 5%;
    }
    #bottominfo {
        top: 5%;
        height: 5%;
    }
    a:link { color: #ff5500; }
    a:visited { color: #ff5500; }

    .viewport {
        position: fixed;
        top: 120px;
        left: 120px;
        width: 90%;
        height: 100%;
    }

    .flex-container {
        padding: 10px;
        height: 100%;
        margin-top: auto;
        margin: 0px;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex 2 10px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .flex-item {
        cursor: pointer;
        padding: 1%;
        width: 10%;
        margin-top: 5px;

        color: #cccccc;
        font-weight: normal;
        font-size: .8em;
        text-align: center;
    }

    .flex-item:hover {
        background-color: #555;
        color: white;
    }

    .navContainer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 100%;
        position: fixed;

    }

    .navBtn {
        display: block;
        color: #cccccc;
        text-decoration: none;
        padding: 8px;
    }

    /* Change the link color on hover */
    .navBtn:hover {
        background-color: #555;
        color: white;
    }

    .active {
        background-color: grey;
    }